@model VmCategory
@{
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
@section Head{

    <script type="text/javascript">
        $(document).ready(function () {
            $(".EditCategory").click(function () {
                var AuthorId = $(this).parents().eq(1).find('.Categoryid').text();
                $.ajax({
                    type: 'get',
                    url: '/Bookstore/Category/EditCategory?CategoryID=' + AuthorId,
                    success: function (data) {
                        debugger;
                        $('#name').val(data.name);
                        $('#categoryCode').val(data.category_Code);
                        $('#description').val(data.description);
                        $('#CategoryID').val(data.id);

                    },
                    error: function () {
                        alert('error')
                    }
                });
                $('#UpdateBtn').show();
                $('#SaveBtn').hide();
                $('.Validation').empty();
                $('#exampleModal').modal('show');
            });


            $('#NewItem').click(function () {
                $('#name').val('');
                $('#categoryCode').val('');
                $('#description').val('');
                $('#CategoryID').val('');
                $('#UpdateBtn').hide();
                $('#SaveBtn').show();

                $('#exampleModal').modal('show');
            })
        });


    </script>
}
@section Body{
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-12">
                <button id="NewItem" type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    New Category <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                    </svg>
                </button>
            </div>


            <div class="col-sm-10 col-xl-10 col-lg-10 col-md-10 col-xs-8" style="margin-left: 20px;">
                <h3 class="mb-4">All Category</h3>

                <div class="rounded h-100 p-4 tableContainer shadow-lg">

                    <div class="table-responsive">
                        <table class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Category Code</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.LiCategories)
                                {
                                <tr>
                                    <th scope="row" class="Categoryid">@item.ID</th>
                                    <td>@item.Name</td>
                                    <td>@item.Category_Code</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <a class="EditCategory" title="Edit"><i class="fa fa-edit Edit"></i></a>
                                        <a title="Delete" class="DeleteBtn" asp-action="DeleteCategory" asp-route-CategoryID="@item.ID"><i class="fa fa-times Delete"></i></a>
                                    </td>
                                </tr>
                                }
                                </tbody>
                        </table>
                    </div>

                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="color:white !important;">Category ?</h5>
                            <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close" style="color:white !important;">×</button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Category Name" asp-for="category.Name" id="name">
                            </div>
                            <span class="Validation" asp-validation-for="category.Name" style="color:red"></span>
                            <input type="hidden" asp-for="category.ID" id="CategoryID" />

                            <div class="input-group mb-3" style="margin-top:5px;">
                                <input type="text" class="form-control" placeholder="Category Code" id="categoryCode" asp-for="category.Category_Code">
                            </div>
                            <span class="Validation" asp-validation-for="category.Category_Code" style="color:red"></span>

                            <div class="input-group mb-3" style="margin-top:5px;">
                                <textarea type="text" class="form-control" placeholder="Category Description" asp-for="category.Description" id="description"></textarea>
                            </div>
                            <span class="Validation" asp-validation-for="category.Description" style="color:red"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="SaveBtn" type="submit" class="btn btn-dark" asp-action="Save">Save</button>
                            <button id="UpdateBtn" style="display:none" type="submit" class="btn btn-dark" asp-action="Update">Update</button>

                        </div>
                    </div>
                </div>
            </div>


        </div>
        </form>
    }
